.tag {
    display: flex;
    width: 15rem;
    padding: var(--Numbers-3-rem-mobile) var(--Numbers-5-rem-mobile);
    align-items: center;
    gap: var(--Numbers-2-rem-mobile);

    border-radius: var(--Numbers-10-rem);
    background: var(--colors-grayscale-gray-100);
}

@media (min-width: 768px) {
    .tag {
        display: flex;
        width: 19rem;
        padding: var(--Numbers-3-rem) var(--Numbers-5-rem);
        align-items: center;
        gap: var(--Numbers-2-rem);
    }
}
