.navbar-container{
    display: flex;
    box-sizing: border-box;
    width: 100vw;
    padding: 0rem 12%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--colors-brand-blue-50);
}

.navbar{
    display: flex;
    padding: var(--Numbers-6, 2rem) 0rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

@media (min-width: 768px) {
    .navbar-container{
        padding: 0;
    }
    .navbar{
        justify-content: center;
        gap: 40%;
    }
}