@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800;900&display=swap');

body {
    font-family: "Plus Jakarta Sans";
    margin: 0; 
    line-height: normal;
}