.deleteUserContainer{
    position: fixed;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 64%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    padding: var(--Numbers-7-rem);
    border: 1px solid #c3c3c31b;
}

.deleteHeadContainer{
    position: absolute;
    top: var(--Numbers-7-rem-mobile); /* Ajusta la distancia desde la parte superior del contenedor */
    right: var(--Numbers-7-rem-mobile); /* Ajusta la distancia desde el lado izquierdo del contenedor */
    gap: 0.625rem;
}

@media (min-width: 768px) {
    .deleteUserContainer{
        top: 50%;
        left: 50%;
        width: 32%;
        gap: var(--Numbers-6-rem);
        padding: var(--Numbers-7-rem);
    }
    .deleteHeadContainer{
        top: var(--Numbers-7-rem);
        right: var(--Numbers-7-rem);
    }
}