.input {
    display: flex;
    width: auto;
    padding: var(--Numbers-4-rem-mobile);
    border-radius: var(--Numbers-2-rem-mobile);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: var(--colors-grayscale-gray-100);
    border: none;
    
    font-size: var(--mobile---caption);
    color: var(--colors-grayscale-gray-600);
    font-weight: 400;
    line-height: 100%;
}
input:active, input:focus {
    outline: none;
}
input::placeholder {
    color: var(--colors-grayscale-gray-400);
}

@media (min-width: 768px) {
    .input {
        width: auto;
        padding: var(--Numbers-3-rem);
        border-radius: var(--Numbers-2-rem);
        font-size: var(--desktop---caption);
    }
    
}
