.day-weather-container{
    display: inline-flex;
    width: 78%;
    padding: var(--Numbers-5-rem);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--Numbers-6-rem-mobile);
    border-radius: 1.25rem;
    border: 1px solid var(--colors-grayscale-gray-50);
    background: var(--colors-grayscale-gray-100);
}

@media (min-width: 768px) {
    .day-weather-container {
        display: flex;
        width: 20.75rem;
        height: 13.25rem;
        gap: var(--Numbers-6-rem);
        flex-shrink: 0;
    }
}